/*============= COURSE SECTION =============*/

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}
/* navbar */
.navbar {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important ;
}
.navbar li {
  color: #2fcc76;
  padding-right: 0.7rem;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f3fcf7;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #2fcc76;
}

/* end navbar */
.a {
  background: #2fcc76;
}

/* landing page  */

.home-inner {
  background-image: url("./img/computers.png");
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  color: #f3fcf7;

  top: 38%;
  z-index: 1;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  padding-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;

  text-shadow: 0.1rem 0.1rem 0.5rem black;
}
.btn {
  padding: 0.6rem;
}

/* project */
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #2fcc76;
  border-color: #f6f8f7;
}

.btn-secondary:hover {
  background-color: aqua;
  border: 1px #f3fcf7;
  color: #505962;
}
.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* features section */
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3rem;
  border-right: 0;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #2fcc76;
  margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
  color: #2fcc76;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.feature p {
  font-size: 1.1rem;
}
.fixed {
  background: url("./img/apple.png");
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3fcf7;
  padding: 7rem 2rem;
}
.fixed-background h3 h4 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}

/* end landing page  */

/* 
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
